<div class="card" style="width: 400px; margin-left: 34%; margin-top: 70px; background-color: rgb(219, 219, 219);">
  <div class="card-body">
    <form [formGroup]="angForm" novalidate>
      <div class="form-group">
        <label class="col-md-4" style="width: 100px;">Contact Name</label>
        <input type="text" class="form-control" 
          formControlName="ContactName" 
          #ContactName />
      </div>
      <div *ngIf="angForm.controls['ContactName'].invalid && (angForm.controls['ContactName'].dirty || angForm.controls['ContactName'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['ContactName'].errors.required">
          Contact Name is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Contact Description </label>
        <textarea class="form-control" style="height: 38px; resize: none;" rows = 7 cols = "5"
        formControlName="ContactDescription" 
        #ContactDescription></textarea>
      </div>
      <div *ngIf="angForm.controls['ContactDescription'].invalid && (angForm.controls['ContactDescription'].dirty || angForm.controls['ContactDescription'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['ContactDescription'].errors.required">
          Contact Description is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Contact Number</label>
        <input type="text" class="form-control" placeholder="+91 012-345-6789"  pattern="\d{10}" maxlength="10"
          formControlName="ContactNumber" 
          #ContactNumber
        />
      </div>
      <div *ngIf="angForm.controls['ContactNumber'].invalid && (angForm.controls['ContactNumber'].dirty || angForm.controls['ContactNumber'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['ContactNumber'].errors.required">
          Contact Number is required.
        </div>
      </div>
      <div class="form-group">
        <button (click) = "addContact(ContactName.value, ContactDescription.value, ContactNumber.value)" type="submit" class="btn btn-primary"
        [disabled]="angForm.pristine || angForm.invalid" >
          Create Contact
        </button>
      </div>
    </form>
  </div>
</div>